* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    color: #fff;
    background-color: #0D1117;
}
